body {
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-size: 15px;
    background-color: #0c0f0a; 
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}

.container {
    text-align: center;
}

#myCanvas {
    border: 1px, solid #5c6b73; 
    width: 100%;
    max-width: 500px;
    height: auto; 
}

#pauseButton, #restartButton {
    -webkit-tap-highlight-color: transparent;  
    -webkit-appearance: none;                  
    appearance: none;  
    color:#0c0f0a;
    padding: 5px;
    width: 100px;
    margin: 10px;
    font-family: "Space Mono", monospace;
    font-weight: bolder;
    cursor: pointer;
} 

#pauseButton:hover, #restartButton:hover  {
    background-color: #e0fbfc;
    border: 1px solid  #e0fbfc;
    border-radius: 2px;
}

#score {
    width: 150px;
    border: 1px solid #5c6b73; 
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    font-weight: 500;
}

#header {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.tetris-grid {
    margin: 5vh auto;
}

/* Mobile format */

@media screen and (max-width: 700px) {
    #pauseButton, #restartButton {
        margin: 5px;
        width: 90px;
    } 
    #score {
        margin: 5px;
    }
    #game {
        max-width: 350px;
    }
    #myCanvas {
        max-width: 300px;
    }
}
